.anim-maskfadein {
    -webkit-animation: fadein 1s 2s both;
    animation: fadein 1s 2s both;
}

.anim-titlefadein {
    -webkit-animation: fadein 1s 3s both;
    animation: fadein 1s 3s both;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#parallax-nav li:hover span.nav-title {
    -webkit-animation: moveinside .2s both;
    animation: moveinside .2s both;
}

@keyframes moveinside {
    from {
        right: 10px;
        opacity: 0;
    }
    to {
        right: 20px;
        opacity: 1;
    }
}

#parallax-nav li span.nav-title {
    -webkit-animation: moveoutside .2s both;
    animation: moveoutside .2s both;
}

@keyframes moveoutside {
    from {
        right: 20px;
        opacity: 1;
        visibility: visible;
    }
    to {
        right: 10px;
        opacity: 0;
        visibility: hidden;
    }
}

.main-portfolio-skill ul li .Expert .line_content {
    -webkit-animation: animline1 1s 0.9s forwards ;
    -o-animation: animline1 1s 0.9s forwards ;
    animation: animline1 1s 0.9s forwards ;
}
.main-portfolio-skill ul li .Proficient .line_content {
    -webkit-animation: animline2 1s 0.9s forwards ;
    -o-animation: animline2 1s 0.9s forwards ;
    animation: animline2 1s 0.9s forwards ;
}
.main-portfolio-skill ul li .Practiced .line_content {
    -webkit-animation: animline3 1s 0.9s forwards ;
    -o-animation: animline3 1s 0.9s forwards ;
    animation: animline3 1s 0.9s forwards ;
}
.main-portfolio-skill ul li .learned .line_content {
    -webkit-animation: animline4 1s 0.9s forwards ;
    -o-animation: animline4 1s 0.9s forwards ;
    animation: animline4 1s 0.9s forwards ;
}
.main-portfolio-skill ul li .Beginner .line_content {
    -webkit-animation: animline5 1s 0.9s forwards ;
    -o-animation: animline5 1s 0.9s forwards ;
    animation: animline5 1s 0.9s forwards ;
}
@keyframes animline1 {
    from {
        width: 0
    }
    to {
        width: 90%
    }
}
@keyframes animline2 {
    from {
        width: 0
    }
    to {
        width: 80%
    }
}
@keyframes animline3 {
    from {
        width: 0
    }
    to {
        width: 70%
    }
}
@keyframes animline4 {
    from {
        width: 0
    }
    to {
        width: 60%
    }
}
@keyframes animline5 {
    from {
        width: 0
    }
    to {
        width: 20%
    }
}