
/*  SECTIONS  ============================================================================= */

.cf {
	clear: both;
	padding: 0;
	margin: 0;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
}
.col-margin {
	margin: 1% 0 1% 3.6%;
}
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


.col-flip {
	display: block;
	float: right;
}
.col-margin-flip {
	margin: 1% 3.6% 1% 0;
}
.col-flip:first-child { margin-right: 0; } /* all browsers except IE6 and lower */

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 640 PIXELS */

@media only screen and (max-width: 640px) {
	.col-margin, .col-margin-flip {
		margin: 1% 0 1% 0;
	}
}/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 48.2%;
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_2_of_2 {
		width: 100%;
	}
	.span_1_of_2 {
		width: 100%;
	}
}/*  GRID OF THREE   ============================================================================= */


.span_3_of_3 {
	width: 100%;
}

.span_2_of_3 {
	width: 65.46%;
}

.span_1_of_3 {
	width: 30.93%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_3_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 100%;
	}
	.span_1_of_3 {
		width: 100%;
	}
}/*  GRID OF FOUR   ============================================================================= */


.span_4_of_4 {
	width: 100%;
}

.span_3_of_4 {
	width: 75.1%;
}

.span_2_of_4 {
	width: 48.2%;
}

.span_1_of_4 {
	width: 22.3%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_4_of_4 {
		width: 100%;
	}
	.span_3_of_4 {
		width: 100%;
	}
	.span_2_of_4 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}
}/*  GRID OF FIVE   ============================================================================= */


.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
	width: 79.28%;
}

.span_3_of_5 {
	width: 58.56%;
}

.span_2_of_5 {
	width: 37.84%;
}

.span_1_of_5 {
	width: 17.12%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_5_of_5 {
		width: 100%;
	}
	.span_4_of_5 {
		width: 100%;
	}
	.span_3_of_5 {
		width: 100%;
	}
	.span_2_of_5 {
		width: 100%;
	}
	.span_1_of_5 {
		width: 100%;
	}
}/*  GRID OF SIX   ============================================================================= */


.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
	width: 82.73%;
}

.span_4_of_6 {
	width: 65.46%;
}

.span_3_of_6 {
	width: 48.2%;
}

.span_2_of_6 {
	width: 30.93%;
}

.span_1_of_6 {
	width: 13.66%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_6_of_6 {
		width: 100%;
	}
	.span_5_of_6 {
		width: 100%;
	}
	.span_4_of_6 {
		width: 100%;
	}
	.span_3_of_6 {
		width: 100%;
	}
	.span_2_of_6 {
		width: 100%;
	}
	.span_1_of_6 {
		width: 100%;
	}
}/*  GRID OF SEVEN   ============================================================================= */


.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
	width: 85.2%;
}

.span_5_of_7 {
	width: 70.4%;
}

.span_4_of_7 {
	width: 55.6%;
}

.span_3_of_7 {
	width: 40.8%;
}

.span_2_of_7 {
	width: 26%;
}

.span_1_of_7 {
	width: 11.2%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_7_of_7 {
		width: 100%;
	}
	.span_6_of_7 {
		width: 100%;
	}
	.span_5_of_7 {
		width: 100%;
	}
	.span_4_of_7 {
		width: 100%;
	}
	.span_3_of_7 {
		width: 100%;
	}
	.span_2_of_7 {
		width: 100%;
	}
	.span_1_of_7 {
		width: 100%;
	}
}/*  GRID OF EIGHT   ============================================================================= */


.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
	width: 87.05%;
}

.span_6_of_8 {
	width: 74.1%;
}

.span_5_of_8 {
	width: 61.15%;
}

.span_4_of_8 {
	width: 48.2%;
}

.span_3_of_8 {
	width: 35.25%;
}

.span_2_of_8 {
	width: 22.3%;
}

.span_1_of_8 {
	width: 9.35%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_8_of_8 {
		width: 100%;
	}
	.span_7_of_8 {
		width: 100%;
	}
	.span_6_of_8 {
		width: 100%;
	}
	.span_5_of_8 {
		width: 100%;
	}
	.span_4_of_8 {
		width: 100%;
	}
	.span_3_of_8 {
		width: 100%;
	}
	.span_2_of_8 {
		width: 100%;
	}
	.span_1_of_8 {
		width: 100%;
	}
}/*  GRID OF NINE   ============================================================================= */


.span_9_of_9 {
	width: 100%;
}

.span_8_of_9 {
	width: 88.48%;
}

.span_7_of_9 {
	width: 76.97%;
}

.span_6_of_9 {
	width: 65.46%;
}

.span_5_of_9 {
	width: 53.95%;
}

.span_4_of_9 {
	width: 42.44%;
}

.span_3_of_9 {
	width: 30.93%;
}

.span_2_of_9 {
	width: 19.42%;
}

.span_1_of_9 {
	width: 7.91%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_9_of_9 {
		width: 100%;
	}
	.span_8_of_9 {
		width: 100%;
	}
	.span_7_of_9 {
		width: 100%;
	}
	.span_6_of_9 {
		width: 100%;
	}
	.span_5_of_9 {
		width: 100%;
	}
	.span_4_of_9 {
		width: 100%;
	}
	.span_3_of_9 {
		width: 100%;
	}
	.span_2_of_9 {
		width: 100%;
	}
	.span_1_of_9 {
		width: 100%;
	}
}
/*  GRID OF TEN   ============================================================================= */


.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
	width: 89.64%;
}

.span_8_of_10 {
	width: 79.28%;
}

.span_7_of_10 {
	width: 68.92%;
}

.span_6_of_10 {
	width: 58.56%;
}

.span_5_of_10 {
	width: 48.2%;
}

.span_4_of_10 {
	width: 37.84%;
}

.span_3_of_10 {
	width: 27.48%;
}

.span_2_of_10 {
	width: 17.12%;
}

.span_1_of_10 {
	width: 6.76%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_10_of_10 {
		width: 100%;
	}
	.span_9_of_10 {
		width: 100%;
	}
	.span_8_of_10 {
		width: 100%;
	}
	.span_7_of_10 {
		width: 100%;
	}
	.span_6_of_10 {
		width: 100%;
	}
	.span_5_of_10 {
		width: 100%;
	}
	.span_4_of_10 {
		width: 100%;
	}
	.span_3_of_10 {
		width: 100%;
	}
	.span_2_of_10 {
		width: 100%;
	}
	.span_1_of_10 {
		width: 100%;
	}
}
/*  GRID OF ELEVEN   ============================================================================= */

.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
	width: 90.58%;
}

.span_9_of_11 {
	width: 81.16%;
}

.span_8_of_11 {
	width: 71.74%;
}

.span_7_of_11 {
	width: 62.32%;
}

.span_6_of_11 {
	width: 52.9%;
}

.span_5_of_11 {
	width: 43.49%;
}

.span_4_of_11 {
	width: 34.07%;
}

.span_3_of_11 {
	width: 24.65%;
}

.span_2_of_11 {
	width: 15.23%;
}

.span_1_of_11 {
	width: 5.81%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_11_of_11 {
		width: 100%;
	}
	.span_10_of_11 {
		width: 100%;
	}
	.span_9_of_11 {
		width: 100%;
	}
	.span_8_of_11 {
		width: 100%;
	}
	.span_7_of_11 {
		width: 100%;
	}
	.span_6_of_11 {
		width: 100%;
	}
	.span_5_of_11 {
		width: 100%;
	}
	.span_4_of_11 {
		width: 100%;
	}
	.span_3_of_11 {
		width: 100%;
	}
	.span_2_of_11 {
		width: 100%;
	}
	.span_1_of_11 {
		width: 100%;
	}

}/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 91.36%;
}

.span_10_of_12 {
	width: 82.73%;
}

.span_9_of_12 {
	width: 74.09%;
}

.span_8_of_12 {
	width: 65.46%;
}

.span_7_of_12 {
	width: 56.83%;
}

.span_6_of_12 {
	width: 48.19%;
}

.span_5_of_12 {
	width: 39.56%;
}

.span_4_of_12 {
	width: 30.93%;
}

.span_3_of_12 {
	width: 22.29%;
}

.span_2_of_12 {
	width: 13.66%;
}

.span_1_of_12 {
	width: 5.03%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_12_of_12 {
		width: 100%;
	}
	.span_11_of_12 {
		width: 100%;
	}
	.span_10_of_12 {
		width: 100%;
	}
	.span_9_of_12 {
		width: 100%;
	}
	.span_8_of_12 {
		width: 100%;
	}
	.span_7_of_12 {
		width: 100%;
	}
	.span_6_of_12 {
		width: 100%;
	}
	.span_5_of_12 {
		width: 100%;
	}
	.span_4_of_12 {
		width: 100%;
	}
	.span_3_of_12 {
		width: 100%;
	}
	.span_2_of_12 {
		width: 100%;
	}
	.span_1_of_12 {
		width: 100%;
	}
}