
/*  SECTIONS  ============================================================================= */

.cf {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
}
.col-margin {
	margin: 1% 0 1% 3.6%;
}
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


.col-flip {
	display: block;
	float: right;
}
.col-margin-flip {
	margin: 1% 3.6% 1% 0%;
}
.col-flip:first-child { margin-right: 0; } /* all browsers except IE6 and lower */

/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 640 PIXELS */

@media only screen and (max-width: 640px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}/*  GRID OF TWO   ============================================================================= */


.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 47.2%;
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_2_of_2 {
		width: 100%;
	}
	.span_1_of_2 {
		width: 100%;
	}
}/*  GRID OF THREE   ============================================================================= */


.span_3_of_3 {
	width: 100%;
}

.span_2_of_3 {
	width: 64.13%;
}

.span_1_of_3 {
	width: 30.26%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_3_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 100%;
	}
	.span_1_of_3 {
		width: 100%;
	}
}/*  GRID OF FOUR   ============================================================================= */


.span_4_of_4 {
	width: 100%;
}

.span_3_of_4 {
	width: 72.6%;
}

.span_2_of_4 {
	width: 47.2%;
}

.span_1_of_4 {
	width: 21.8%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_4_of_4 {
		width: 100%;
	}
	.span_3_of_4 {
		width: 100%;
	}
	.span_2_of_4 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}
}/*  GRID OF FIVE   ============================================================================= */


.span_5_of_5 {
	width: 100%;
}

.span_4_of_5 {
	width: 77.68%;
}

.span_3_of_5 {
	width: 57.36%;
}

.span_2_of_5 {
	width: 37.04%;
}

.span_1_of_5 {
	width: 16.72%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_5_of_5 {
		width: 100%;
	}
	.span_4_of_5 {
		width: 100%;
	}
	.span_3_of_5 {
		width: 100%;
	}
	.span_2_of_5 {
		width: 100%;
	}
	.span_1_of_5 {
		width: 100%;
	}
}/*  GRID OF SIX   ============================================================================= */


.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
	width: 81.06%;
}

.span_4_of_6 {
	width: 64.13%;
}

.span_3_of_6 {
	width: 47.2%;
}

.span_2_of_6 {
	width: 30.26%;
}

.span_1_of_6 {
	width: 13.33%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_6_of_6 {
		width: 100%;
	}
	.span_5_of_6 {
		width: 100%;
	}
	.span_4_of_6 {
		width: 100%;
	}
	.span_3_of_6 {
		width: 100%;
	}
	.span_2_of_6 {
		width: 100%;
	}
	.span_1_of_6 {
		width: 100%;
	}
}/*  GRID OF SEVEN   ============================================================================= */


.span_7_of_7 {
	width: 100%;
}

.span_6_of_7 {
	width: 83.48%;
}

.span_5_of_7 {
	width: 68.97%;
}

.span_4_of_7 {
	width: 54.45%;
}

.span_3_of_7 {
	width: 39.94%;
}

.span_2_of_7 {
	width: 25.42%;
}

.span_1_of_7 {
	width: 10.91%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_7_of_7 {
		width: 100%;
	}
	.span_6_of_7 {
		width: 100%;
	}
	.span_5_of_7 {
		width: 100%;
	}
	.span_4_of_7 {
		width: 100%;
	}
	.span_3_of_7 {
		width: 100%;
	}
	.span_2_of_7 {
		width: 100%;
	}
	.span_1_of_7 {
		width: 100%;
	}
}/*  GRID OF EIGHT   ============================================================================= */


.span_8_of_8 {
	width: 100%;
}

.span_7_of_8 {
	width: 85.3%;
}

.span_6_of_8 {
	width: 72.6%;
}

.span_5_of_8 {
	width: 59.9%;
}

.span_4_of_8 {
	width: 47.2%;
}

.span_3_of_8 {
	width: 34.5%;
}

.span_2_of_8 {
	width: 21.8%;
}

.span_1_of_8 {
	width: 9.1%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_8_of_8 {
		width: 100%;
	}
	.span_7_of_8 {
		width: 100%;
	}
	.span_6_of_8 {
		width: 100%;
	}
	.span_5_of_8 {
		width: 100%;
	}
	.span_4_of_8 {
		width: 100%;
	}
	.span_3_of_8 {
		width: 100%;
	}
	.span_2_of_8 {
		width: 100%;
	}
	.span_1_of_8 {
		width: 100%;
	}
}/*  GRID OF NINE   ============================================================================= */


.span_9_of_9 {
	width: 100%;
}

.span_8_of_9 {
	width: 86.71%;
}

.span_7_of_9 {
	width: 75.42%;
}

.span_6_of_9 {
	width: 64.13%;
}

.span_5_of_9 {
	width: 52.84%;
}

.span_4_of_9 {
	width: 41.55%;
}

.span_3_of_9 {
	width: 30.26%;
}

.span_2_of_9 {
	width: 18.97%;
}

.span_1_of_9 {
	width: 7.68%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_9_of_9 {
		width: 100%;
	}
	.span_8_of_9 {
		width: 100%;
	}
	.span_7_of_9 {
		width: 100%;
	}
	.span_6_of_9 {
		width: 100%;
	}
	.span_5_of_9 {
		width: 100%;
	}
	.span_4_of_9 {
		width: 100%;
	}
	.span_3_of_9 {
		width: 100%;
	}
	.span_2_of_9 {
		width: 100%;
	}
	.span_1_of_9 {
		width: 100%;
	}
}/*  GRID OF TEN   ============================================================================= */


.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
	width: 87.84%;
}

.span_8_of_10 {
	width: 77.68%;
}

.span_7_of_10 {
	width: 67.52%;
}

.span_6_of_10 {
	width: 57.36%;
}

.span_5_of_10 {
	width: 47.2%;
}

.span_4_of_10 {
	width: 37.04%;
}

.span_3_of_10 {
	width: 26.88%;
}

.span_2_of_10 {
	width: 16.72%;
}

.span_1_of_10 {
	width: 6.56%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_10_of_10 {
		width: 100%;
	}
	.span_9_of_10 {
		width: 100%;
	}
	.span_8_of_10 {
		width: 100%;
	}
	.span_7_of_10 {
		width: 100%;
	}
	.span_6_of_10 {
		width: 100%;
	}
	.span_5_of_10 {
		width: 100%;
	}
	.span_4_of_10 {
		width: 100%;
	}
	.span_3_of_10 {
		width: 100%;
	}
	.span_2_of_10 {
		width: 100%;
	}
	.span_1_of_10 {
		width: 100%;
	}
}
/*  GRID OF TEN   ============================================================================= */


.span_10_of_10 {
	width: 100%;
}

.span_9_of_10 {
	width: 87.84%;
}

.span_8_of_10 {
	width: 77.68%;
}

.span_7_of_10 {
	width: 67.52%;
}

.span_6_of_10 {
	width: 57.36%;
}

.span_5_of_10 {
	width: 47.2%;
}

.span_4_of_10 {
	width: 37.04%;
}

.span_3_of_10 {
	width: 26.88%;
}

.span_2_of_10 {
	width: 16.72%;
}

.span_1_of_10 {
	width: 6.56%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_10_of_10 {
		width: 100%;
	}
	.span_9_of_10 {
		width: 100%;
	}
	.span_8_of_10 {
		width: 100%;
	}
	.span_7_of_10 {
		width: 100%;
	}
	.span_6_of_10 {
		width: 100%;
	}
	.span_5_of_10 {
		width: 100%;
	}
	.span_4_of_10 {
		width: 100%;
	}
	.span_3_of_10 {
		width: 100%;
	}
	.span_2_of_10 {
		width: 100%;
	}
	.span_1_of_10 {
		width: 100%;
	}
}
/*  GRID OF ELEVEN   ============================================================================= */

.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
	width: 88.76%;
}

.span_9_of_11 {
	width: 79.52%;
}

.span_8_of_11 {
	width: 70.29%;
}

.span_7_of_11 {
	width: 61.05%;
}

.span_6_of_11 {
	width: 51.81%;
}

.span_5_of_11 {
	width: 42.58%;
}

.span_4_of_11 {
	width: 33.34%;
}

.span_3_of_11 {
	width: 24.1%;
}

.span_2_of_11 {
	width: 14.87%;
}

.span_1_of_11 {
	width: 5.63%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_11_of_11 {
		width: 100%;
	}
	.span_10_of_11 {
		width: 100%;
	}
	.span_9_of_11 {
		width: 100%;
	}
	.span_8_of_11 {
		width: 100%;
	}
	.span_7_of_11 {
		width: 100%;
	}
	.span_6_of_11 {
		width: 100%;
	}
	.span_5_of_11 {
		width: 100%;
	}
	.span_4_of_11 {
		width: 100%;
	}
	.span_3_of_11 {
		width: 100%;
	}
	.span_2_of_11 {
		width: 100%;
	}
	.span_1_of_11 {
		width: 100%;
	}
}/*  GRID OF ELEVEN   ============================================================================= */

.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
	width: 88.76%;
}

.span_9_of_11 {
	width: 79.52%;
}

.span_8_of_11 {
	width: 70.29%;
}

.span_7_of_11 {
	width: 61.05%;
}

.span_6_of_11 {
	width: 51.81%;
}

.span_5_of_11 {
	width: 42.58%;
}

.span_4_of_11 {
	width: 33.34%;
}

.span_3_of_11 {
	width: 24.1%;
}

.span_2_of_11 {
	width: 14.87%;
}

.span_1_of_11 {
	width: 5.63%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_11_of_11 {
		width: 100%;
	}
	.span_10_of_11 {
		width: 100%;
	}
	.span_9_of_11 {
		width: 100%;
	}
	.span_8_of_11 {
		width: 100%;
	}
	.span_7_of_11 {
		width: 100%;
	}
	.span_6_of_11 {
		width: 100%;
	}
	.span_5_of_11 {
		width: 100%;
	}
	.span_4_of_11 {
		width: 100%;
	}
	.span_3_of_11 {
		width: 100%;
	}
	.span_2_of_11 {
		width: 100%;
	}
	.span_1_of_11 {
		width: 100%;
	}
}/*  GRID OF ELEVEN   ============================================================================= */

.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
	width: 88.76%;
}

.span_9_of_11 {
	width: 79.52%;
}

.span_8_of_11 {
	width: 70.29%;
}

.span_7_of_11 {
	width: 61.05%;
}

.span_6_of_11 {
	width: 51.81%;
}

.span_5_of_11 {
	width: 42.58%;
}

.span_4_of_11 {
	width: 33.34%;
}

.span_3_of_11 {
	width: 24.1%;
}

.span_2_of_11 {
	width: 14.87%;
}

.span_1_of_11 {
	width: 5.63%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_11_of_11 {
		width: 100%;
	}
	.span_10_of_11 {
		width: 100%;
	}
	.span_9_of_11 {
		width: 100%;
	}
	.span_8_of_11 {
		width: 100%;
	}
	.span_7_of_11 {
		width: 100%;
	}
	.span_6_of_11 {
		width: 100%;
	}
	.span_5_of_11 {
		width: 100%;
	}
	.span_4_of_11 {
		width: 100%;
	}
	.span_3_of_11 {
		width: 100%;
	}
	.span_2_of_11 {
		width: 100%;
	}
	.span_1_of_11 {
		width: 100%;
	}
}/*  GRID OF ELEVEN   ============================================================================= */

.span_11_of_11 {
	width: 100%;
}

.span_10_of_11 {
	width: 88.76%;
}

.span_9_of_11 {
	width: 79.52%;
}

.span_8_of_11 {
	width: 70.29%;
}

.span_7_of_11 {
	width: 61.05%;
}

.span_6_of_11 {
	width: 51.81%;
}

.span_5_of_11 {
	width: 42.58%;
}

.span_4_of_11 {
	width: 33.34%;
}

.span_3_of_11 {
	width: 24.1%;
}

.span_2_of_11 {
	width: 14.87%;
}

.span_1_of_11 {
	width: 5.63%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_11_of_11 {
		width: 100%;
	}
	.span_10_of_11 {
		width: 100%;
	}
	.span_9_of_11 {
		width: 100%;
	}
	.span_8_of_11 {
		width: 100%;
	}
	.span_7_of_11 {
		width: 100%;
	}
	.span_6_of_11 {
		width: 100%;
	}
	.span_5_of_11 {
		width: 100%;
	}
	.span_4_of_11 {
		width: 100%;
	}
	.span_3_of_11 {
		width: 100%;
	}
	.span_2_of_11 {
		width: 100%;
	}
	.span_1_of_11 {
		width: 100%;
	}
}/*  GRID OF TWELVE   ============================================================================= */

.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 89.53%;
}

.span_10_of_12 {
	width: 81.06%;
}

.span_9_of_12 {
	width: 72.6%;
}

.span_8_of_12 {
	width: 64.13%;
}

.span_7_of_12 {
	width: 55.66%;
}

.span_6_of_12 {
	width: 47.2%;
}

.span_5_of_12 {
	width: 38.73%;
}

.span_4_of_12 {
	width: 30.26%;
}

.span_3_of_12 {
	width: 21.8%;
}

.span_2_of_12 {
	width: 13.33%;
}

.span_1_of_12 {
	width: 4.86%;
}


/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) {
	.span_12_of_12 {
		width: 100%;
	}
	.span_11_of_12 {
		width: 100%;
	}
	.span_10_of_12 {
		width: 100%;
	}
	.span_9_of_12 {
		width: 100%;
	}
	.span_8_of_12 {
		width: 100%;
	}
	.span_7_of_12 {
		width: 100%;
	}
	.span_6_of_12 {
		width: 100%;
	}
	.span_5_of_12 {
		width: 100%;
	}
	.span_4_of_12 {
		width: 100%;
	}
	.span_3_of_12 {
		width: 100%;
	}
	.span_2_of_12 {
		width: 100%;
	}
	.span_1_of_12 {
		width: 100%;
	}
}