.loading-page {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #255359;
    display: -webkit-flex;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 1000;
}

.loading-block {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 50px;
    position:relative;
    animation:loading_inout 3s 0s infinite forwards;
    overflow:hidden;
}

.loading-block::after {
    content: 'D';
    font-size: 24px;
    color:#fff;
    font-family:'Lato' , sans-serif;
    animation:loading_text 3s 0s infinite forwards;
}

.loading-block::before {
    content:' ';
    position: absolute;
    top:0;
    left:0;
    width: 48px;
    height:48px;
    z-index:-1;
    opacity: 1;
    background:rgba(255,255,255,1);
    animation:loading_bg 3s 0s infinite forwards;
}


@keyframes loading_inout{
    0%{ opacity: 0; }
    33%{ opacity: 1; }
    66%{ opacity: 1; }
    100%{ opacity: 0; }
}
@keyframes loading_bg{
    0%{ opacity: 0; }
    /*33%{ opacity: 0; }*/
    66%{ opacity: 1; }
    100%{ opacity: 0; }
}
@keyframes loading_text{
    0%{ color:#255359;}
    22%{ color:#fff; }
    66%{ color:#255359; }
    100%{ color:#fff; }
}