@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.space-begin {
    padding: 10px;
}

.space-end {
    padding: 18px;
}

body {
    color: #363636;
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif, 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.page-set {
    max-width: 1020px;
    background-color: #fbfbfb;
    margin: 0 auto;
    padding: 90px 30px;
}

.page-set-nbgc {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0px 30px;
}

body h1, body h2 {
    font-weight: 600;
    font-style: normal;
    letter-spacing: 4px;
}

body p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

/*--------------------loading page--------------------*/

.loading-page {

}

.loading-block {

}

.loading-block::before {

}

.loading-block::after {

}

.load-hide {

}


/*--------------------固定連結點--------------------*/

#parallax-nav {
    position: fixed;
    z-index: 60;
    top: 50%;
    right: 20px;
    padding: 0 10px 0 0;

}

.nav-title {
    position: absolute;
    right: 10px;
    font-size: 13px;
    font-family: 'Lato', serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 0 0 5px 0;
    line-height: 32px;
    color: #363636;
}

#parallax-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#parallax-nav ul li {
    margin: 0;
    padding: 10px 0 10px 15px;
    cursor: pointer;
}

#parallax-nav {
    position: fixed;
    z-index: 52;
    top: 50%;
    right: 15px;
    padding: 0 10px 0 0;
}

/*--------------------首頁大圖--------------------*/

.image-title {
    max-width: 1020px;
    margin: 0 auto;
    text-align: center;
    /*padding-top: 60vh;*/
    box-sizing: border-box;
    opacity: 1;
}

.image-title h1 {
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    margin: 30px auto;
    letter-spacing: 1.6px;
    text-align: center;
}

.image-title h2 {
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    margin: 30px auto;
    letter-spacing: 1.6px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .image-title h1 {
        font-size: 50px;
        line-height: 50px;
        margin: 25px auto;
    }

    .image-title h2 {
        font-size: 36px;
        line-height: 50px;
        margin: 21px auto;
    }
}

@media only screen and (max-width: 640px) {
    .image-title h1 {
        font-size: 46px;
        line-height: 20px;
    }
    .image-title h2 {
        font-size: 20px;
        line-height: 40px;
    }
}

.image__page {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    background: url("../img/p2.jpg") no-repeat center -200px;
    /*background-size: cover;*/
    animation: imgfadein 0.5s 0.5s both;
    /*-webkit-overflow-scrolling: touch;*/
}

.mobile__image__page {
    background-image: url("../img/p2.jpg");
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    background-attachment: fixed;
    background-position: center 50%;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    animation: imgfadein 0.5s 0.5s both;
    -webkit-overflow-scrolling: touch;
}

@keyframes imgfadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.image-container {

    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 83, 89, .6);
    animation: fadein 0.5s 1.2s both;
}
.anim-fadein {
animation: fadein 0.5s 1.9s both;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/*--------------------portfolio--------------------*/

.main-portfolio-content p {
    text-align: justify;

}

/*--------------------work image, contact image--------------------*/

.work__page, .contact__page {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
}

.work__page {
    background: url("../img/p1.jpg") no-repeat center center;
    /*background-size: cover;*/
}

.contact__page {
    background: url("../img/p3.jpg") no-repeat center center;
    /*background-size: cover;*/
}

.mobile__work__page {
    background-image: url("../img/p1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    -webkit-overflow-scrolling: touch;
}

.mobile__contact__page {
    background-image: url("../img/p3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    -webkit-overflow-scrolling: touch;
}

.work-container, .contact-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(37, 83, 89, .6);
}

.work-page-title, .contact-page-title {
    max-width: 1020px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.work-page-title h1, .contact-page-title h1 {
    color: #fff;
    font-size: 60px;
    margin: auto;
    line-height: 50vh;
    text-align: center;
}
@media only screen and (max-height: 365px) {
    .work-page-title h1, .contact-page-title h1 {
        line-height: 183px;
    }
}
@media only screen and (max-height: 365px) {
    .work-page-title h1, .contact-page-title h1 {
        line-height: 1080px;
    }
}

.main-work-content1 img, .main-work-content2 img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

/*--------------------contact--------------------*/

.main-contact {
    background-color: #fbfbfb;
}

.main-contact h1 {
    font-size: 28px;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.main-contact p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1.5px;
}

#main-contact label {
    display: block;
    line-height: 2em;
}
#email-section label,#email-section input{
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1.5px;
}
/*--------------------contact/form--------------------*/

section .input {
    border: 1px solid #000;
    width: 100%;
    line-height: 2em;
}

.btn_s {
    display: inline-block;
    color: #fff;
    background-color: #d05a6e;
    border: solid 1px #d05a6e;
    line-height: 1.2em;
    border-radius: 20px;
    padding: 6px 16px;
    transition: .5s;
}

.btn_s:hover {
    color: #fff;
    background-color: #255359;
    border: solid 1px #255359;
    transition: .5s;
}

/*--------------------footer--------------------*/

#footer {
    width: 100%;
    background-color: #255359;
    position: relative;
    text-align: center;
    padding: 10px 0 60px 0;
}

#footer .color-fix {
    background-color: #255359;
}

#footer .color-fix a {
    color: #d1d1d1;
    font-size: 16px;
    text-align: center;
}

#footer .back_to_top_link {
    display: block;
    width: 60px;
    height: 60px;
    z-index: 100;
    background-color: #fbfbfb;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -30px;
    transition: .5s;
}

#footer .back_to_top_link .arrow {
    display: block;
    text-align: center;
    width: 16px;
    margin: 0 auto;
}

#footer .back_to_top_link .arrow::before {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: auto;
    line-height: 1;
    text-align: center;
    color: #363636;
    display: block;
    margin-left: -2px;
}

#footer .back_to_top_link a {
    display: block;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    color: #363636;
    padding: 4px 0 0 4px;
}
