@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import 'https://fonts.googleapis.com/css?family=Lato:100,300,400,700';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.space-portfolio {
    padding: 16px;
}

.space-begin {
    padding: 8px;
}

.space-end {
    padding: 30px;
}

.space-50 {
    padding: 50px;
}

.space-middle {
    padding: 6px;
}

body {
    color: #363636;
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif, 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
}

.page-set {
    max-width: 960px;
    background-color: #fbfbfb;
    margin: 0 auto;
    padding: 90px 40px;
}

.page-set-nbgc {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 40px;
}

body h1, body h2, body h3 {
    font-weight: 600;
    font-style: normal;
    letter-spacing: 4px;
}

body p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

body p.Eng {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

/*--------------------固定連結點--------------------*/

#parallax-nav {
    position: fixed;
    z-index: 60;
    top: 45%;
    right: 20px;
    padding: 0 10px 0 0;
    opacity: 1;
}

.nav-title {
    position: absolute;
    right: 10px;
    opacity: 0;
    font-size: 13px;
    font-family: 'Lato', serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    padding: 0 10px 5px 10px;
    line-height: 13px;
    color: #d05a6e;
    visibility: hidden;

}

#parallax-nav li:hover span.nav-title {
    right: 20px;
    opacity: 1;
    z-index: 51;
    padding-right: 15px;
    visibility: visible;
}

#parallax-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#parallax-nav ul li {
    margin: 0;
    padding: 10px 0 10px 15px;
}

#parallax-nav ul li a {
    width: 12px;
    height: 12px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#parallax-nav ul li a {
    background-color: #d05a6e;
}

    /*--------------------首頁大圖--------------------*/

.image-title {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60vh;
    box-sizing: border-box;
    opacity: 1;
}

.image-title h1 {
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    margin: 30px auto;
    letter-spacing: 1.6px;
    text-align: center;
}

.image-title h2 {
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    margin: 30px auto;
    letter-spacing: 1.6px;
    text-align: center;
}

.image__page {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    background: url("../img/p2.jpg") no-repeat center -200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*.mobile__image__page {*/
    /*background-image: url("../img/p2.jpg");*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*z-index: 10;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/

.image-container {

    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 83, 89, .7);
}


/*--------------------portfolio--------------------*/

.skill-hide {
    display: none;
}

.main-portfolio-image {
    overflow: hidden;
}

.main-portfolio-image img {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    transition: all .4s;
}

.main-portfolio-image img:hover {
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
    transition: all .4s;
}

.main-portfolio-content p {
    text-align: justify;
}

/*--------------------portfolio skill--------------------*/

.skill-anim {
    display: none;
}

.main-portfolio-skill h2 {
    text-align:center;
    font-size: 32px;
    padding: 0 0 50px 0;
    letter-spacing: 1px;
}

.main-portfolio-skill .skill_content ul {
    width: 100%;
    margin: 0 auto;
    opacity: 0.2;
    transition: 1s;
}

.main-portfolio-skill .skill_content ul li {
    text-align: center;
    padding: 14px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.main-portfolio-skill .skill_content ul li:nth-child(1) {
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
}

.main-portfolio-skill .skill_content ul li .item {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}

.main-portfolio-skill .skill_content ul li .item .item_icon {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px 0 0;
    width: 70px;
}
.main-portfolio-skill .skill_content ul li .item .item_icon img {
    width: 60px;
}

.main-portfolio-skill .skill_content ul li .item h3 {
    display: inline-block;
    vertical-align: middle;
    color: #363636;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    width: 50%;
    letter-spacing: 1.5px;
}
.main-portfolio-skill .skill_content ul li .line_box {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 8px;
}
.main-portfolio-skill .skill_content ul li .line_box .line_content {
    position: absolute;
    width: 0;
    height: 100%;
    background: #d05a6e;
    border-radius: 20px 0 0 20px;
    z-index: 2;
}

.main-portfolio-skill .skill_content ul li .line_box .line_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.09;
    border-radius: 20px;
    z-index: 1;
}
.main-portfolio-skill .skill_content ul li .level {
    width: 16%;
    display: inline-block;
}

.main-portfolio-skill .skill_content ul li .level p {
    padding: 0 0 0 30%;
    text-align: left;
    font-style: italic;
    font-size: 14px;
    opacity: 0.8;
}



.main-portfolio-skill .experience_content ul {
    width: 100%;
    margin: 0 auto;
    /*opacity: 0.2;*/
    transition: 1s;
}

.main-portfolio-skill .experience_content ul li {
    padding: 14px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.main-portfolio-skill .experience_content ul li:nth-child(1) {
    border-top: 1px dashed rgba(0, 0, 0, 0.3);
}

.main-portfolio-skill .experience_content ul li .comp {
    display: inline-block;
    vertical-align: middle;
    width: 52%;
}

.main-portfolio-skill .experience_content ul li .comp h3 {
    padding: 0 0 1% 10%;
    text-align: left;
    font-size: 16px;
    letter-spacing: 2px;
}
.main-portfolio-skill .experience_content ul li .comp .job_title {
    padding: 0 0 0 10%;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    opacity: .9;
    letter-spacing: 1px;
}

.main-portfolio-skill .experience_content ul li .comp_data {
    width: 46%;
    display: inline-block;
    vertical-align: bottom;
    line-height: 22px;
}

.main-portfolio-skill .experience_content ul li .comp_data p {
    padding: 0 10% 0 0;
    text-align: right;
    font-style: italic;
    font-size: 14px;
    opacity: 0.8;
}

.licenses {
    width: 90%;
    margin:0 auto;
    padding: 50px 0;
}

.licenses-image {
    overflow: hidden;
}

.licenses-image img {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    transition: all .4s;
}

.licenses-image img:hover {
    -moz-transform: scale(1.05,1.05);
    -webkit-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
    transition: all .4s;
}

.licenses-content h3 {
    font-size: 22px;
    letter-spacing: 1.5px;
}

.licenses-content p {
    text-align: justify;
}

/*--------------------work image, contact image--------------------*/

.work__page, .contact__page {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.work__page {
    background: url("../img/p1.jpg") no-repeat center -200px;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

.contact__page {
    background: url("../img/p3.jpg") no-repeat center -200px;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

.mobile__work__page {
    background-image: url("../img/p1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mobile__contact__page {
    background-image: url("../img/p3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.work-container, .contact-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: rgba(37, 83, 89, .7);
}

.work-page-title, .contact-page-title {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.work-page-title h1, .contact-page-title h1 {
    color: #fff;
    font-size: 60px;
    margin: auto;
    line-height: 50vh;
    text-align: center;
}

/*--------------------work content--------------------*/

.main-work-content .workicon-area img ,.main-work-content .workicon-area-coming img {
    width: 140px;
    display: block;
    margin: 0 auto;
}

.main-work-content .workicon-area h2,.main-work-content .workicon-area-coming h2 {
    font-size: 16px;
    color: #363636;
    padding: 16px;
    letter-spacing: 1.5px;
    text-align: center;

}

.workicon-area {
    position: relative;
    width: 180px;
    display: block;
    margin: 0 auto;
    z-index: 5;
    transition: .4s;
}

.workicon-area:hover {
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    transition: .4s;
}

.icon-position {
    width: 100%;
    position: relative;
}

.workicon-area-coming {
    position: relative;
    width: 220px;
    display: block;
    margin: 0 auto;
    background-color: #fbfbfb;
    transition: .4s;
    z-index: 5;
}

h1.coming-1 {
    display: block;
    position: relative;
    top: 90px;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    opacity: 0;
}

h1.coming {
    display: block;
    position: relative;
    top: 90px;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    z-index: 4;
    letter-spacing: 2px;
}

.workicon-area-coming:hover {
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    opacity: .1;
    transition: .4s;
}

.back_to_more {
    display: none;
    width: 60px;
    height: 60px;
    z-index: 100;
    position: relative;
    left: 50%;
    margin-left: -30px;
    top: -60px;
}

.back_to_more .arrow {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.back_to_more .arrow::before {
    display: inline-block;
    vertical-align: middle;
    color: #363636;
    margin-left: -2px;
}

.back_to_more a {
    display: block;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    color: #363636;
    padding: 4px 0 0 4px;
}

/*--------------------contact--------------------*/

.main-contact {
    background-color: #fbfbfb;
}

.main-contact h1 {
    font-size: 28px;
    line-height: 1.2em;
    letter-spacing: 1px;
}

.main-contact p {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
}

#main-contact label {
    display: block;
    line-height: 2em;
}

/*--------------------contact/form--------------------*/

section .input {
    border: 1px solid #000;
    width: 100%;
    line-height: 1.8em;
}

#email-section label,#email-section input{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.5px;
}

.btn_s {
    display: inline-block;
    color: #fff;
    background-color: #d05a6e;
    border: solid 1px #d05a6e;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 6px 16px;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.5px;
}

.btn_s:hover {
    color: #fff;
    background-color: #255359;
    border: solid 1px #255359;
    -webkit-transition: .5s;
    transition: .5s;
}

/*--------------------footer--------------------*/

#footer {
    width: 100%;
    background-color: #255359;
    position: relative;
    text-align: center;
    padding: 10px 0 60px 0;
}

#footer .color-fix {
    background-color: #255359;
}

#footer .color-fix a {
    color: #d1d1d1;
    font-size: 13px;
    text-align: center;
}

#footer .back_to_top_link {
    display: block;
    width: 60px;
    height: 60px;
    z-index: 100;
    background-color: #fbfbfb;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -30px;
    margin-left: -30px;
    -webkit-transition: .5s;
    transition: .5s;
}

#footer .back_to_top_link .arrow {
    display: block;
    text-align: center;
    width: 16px;
    margin: 0 auto;
}

#footer .back_to_top_link .arrow::before {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    color: #363636;
    margin-left: -2px;
}

#footer .back_to_top_link div {
    display: block;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    color: #363636;
    padding: 4px 0 0 4px;
    cursor: pointer;
}

/*--------------------@media--------------------*/

@media only screen and (max-width: 1280px) {
    .page-set, .page-set-nbgc, .image-title, .work-page-title, .contact-page-title { max-width: 780px; }
}


@media only screen and (max-width: 720px) {

    .image__page{
        background-image: url("../img/p2.jpg");
        width: 100%;
        overflow: hidden;
        position: relative;
        z-index: 10;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        /*-webkit-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*-o-background-size: cover;*/
        /*background-size: cover;*/

    }

    #parallax-nav { opacity: 0; }

    .image-title h1 {
        font-size: 50px;
        line-height: 50px;
        margin: 25px auto;
    }

    .image-title h2 {
        font-size: 36px;
        line-height: 50px;
        margin: 21px auto;
    }

    .page-set { padding: 15vmin 6vmin; }
    .main-portfolio-skill .skill_content ul { width: 94%; }
    .main-portfolio-skill .skill_content ul li { padding: 3vmin 0; text-align: center; }
    .main-portfolio-skill .skill_content ul li .item { width: auto; padding: 0; }
    .main-portfolio-skill .skill_content ul li .item .item_icon { width: auto; padding: 0; }
    .main-portfolio-skill .skill_content ul li .item .item_icon img { width: 10vmin; }
    .main-portfolio-skill .skill_content ul li .item h3 { display: none; }
    .main-portfolio-skill .skill_content ul li .line_box { margin: 0 4vmin; }
    .main-portfolio-skill .skill_content ul li .level { width: 14vmin; }
    .main-portfolio-skill .skill_content ul li .level p { padding: 0; font-size: 2.8vmin; }

    .main-portfolio-skill .experience_content ul { width: 94%; }
    .main-portfolio-skill .experience_content ul li { padding: 3vmin 3vmin; }
    .main-portfolio-skill .experience_content ul li .comp { width: auto; }
    .main-portfolio-skill .experience_content ul li .comp h3 { padding: 0; font-size: 3.2vmin; letter-spacing: 0.3vmin; }
    .main-portfolio-skill .experience_content ul li .comp .job_title { width: auto; padding: 0; font-size: 2.8vmin; letter-spacing: 0.1vmin; }
    .main-portfolio-skill .experience_content ul li .comp_data { width: auto; display: block;  }
    .main-portfolio-skill .experience_content ul li .comp_data p { width: auto; padding: 0; text-align: left; font-size: 2.8vmin;}

    .licenses-content h3 { font-size: 4.6vmin; }

    .main-contact h1 { font-size: 5vmin; }

    h2.skill-anim { font-size: 5.5vmin; }
}

@media only screen and (max-width: 640px) {

    .space-portfolio-fix { padding: 14px; }

    .image-title h1 {
        font-size: 9.8vmin;
        line-height: 20px;
    }

    .image-title h2 {
        font-size: 5.2vmin;
        line-height: 25px;
    }

    .back_to_more {
        top: -30px;
    }
}

@media only screen and (max-width: 420px) {
    .work-page-title h1, .contact-page-title h1 { font-size: 13vmin; }
}

@media only screen and (min-height: 2160px) {
    .work-page-title h1, .contact-page-title h1 { line-height: 1080px; }
}

@media only screen and (max-height: 365px) {
    .work-page-title h1, .contact-page-title h1 { line-height: 183px; }
}

